In [1]:
import pandas as pd

# Datenimport für alle Bundesländer
## Erstellung der Daten am 25.03.2021, Download am 31.03.2021

In [2]:
df_bgld = pd.read_excel('gemplzstr_burgenland.xls')
df_wien = pd.read_excel('gemplzstr_wien.xls')
df_noe = pd.read_excel('gemplzstr_nö.xls')
df_ooe = pd.read_excel('gemplzstr_oö.xls')
df_stmk = pd.read_excel('gemplzstr_steiermark.xls')
df_ktn = pd.read_excel('gemplzstr_kärnten.xls')
df_tir = pd.read_excel('gemplzstr_tirol.xls')
df_vbg = pd.read_excel('gemplzstr_vorarlberg.xls')
df_sbg = pd.read_excel('gemplzstr_salzburg.xls')

## Löschen der nicht benötigten Spalten

In [3]:
del df_bgld['Gemeinde kennziffer'], df_bgld['Politische Gemeinde'], df_bgld['Ortschafts kennziffer'], df_bgld['Straßen kennziffer'], df_bgld['Zustellort'], df_bgld['Gemeinde code'], df_bgld['Postleitzahl']
del df_wien['Gemeinde kennziffer'], df_wien['Politische Gemeinde'], df_wien['Ortschafts kennziffer'], df_wien['Straßen kennziffer'], df_wien['Zustellort'], df_wien['Gemeinde code'], df_wien['Postleitzahl']
del df_noe['Gemeinde kennziffer'], df_noe['Politische Gemeinde'], df_noe['Ortschafts kennziffer'], df_noe['Straßen kennziffer'], df_noe['Zustellort'], df_noe['Gemeinde code'], df_noe['Postleitzahl']
del df_ooe['Gemeinde kennziffer'], df_ooe['Politische Gemeinde'], df_ooe['Ortschafts kennziffer'], df_ooe['Straßen kennziffer'], df_ooe['Zustellort'], df_ooe['Gemeinde code'], df_ooe['Postleitzahl']
del df_stmk['Gemeinde kennziffer'], df_stmk['Politische Gemeinde'], df_stmk['Ortschafts kennziffer'], df_stmk['Straßen kennziffer'], df_stmk['Zustellort'], df_stmk['Gemeinde code'], df_stmk['Postleitzahl']
del df_ktn['Gemeinde kennziffer'], df_ktn['Politische Gemeinde'], df_ktn['Ortschafts kennziffer'], df_ktn['Straßen kennziffer'], df_ktn['Zustellort'], df_ktn['Gemeinde code'], df_ktn['Postleitzahl']
del df_tir['Gemeinde kennziffer'], df_tir['Politische Gemeinde'], df_tir['Ortschafts kennziffer'], df_tir['Straßen kennziffer'], df_tir['Zustellort'], df_tir['Gemeinde code'], df_tir['Postleitzahl']
del df_vbg['Gemeinde kennziffer'], df_vbg['Politische Gemeinde'], df_vbg['Ortschafts kennziffer'], df_vbg['Straßen kennziffer'], df_vbg['Zustellort'], df_vbg['Gemeinde code'], df_vbg['Postleitzahl']
del df_sbg['Gemeinde kennziffer'], df_sbg['Politische Gemeinde'], df_sbg['Ortschafts kennziffer'], df_sbg['Straßen kennziffer'], df_sbg['Zustellort'], df_sbg['Gemeinde code'], df_sbg['Postleitzahl']

## erste Spalte auf 'Strasse' setzen

In [4]:
df_bgld['Ortschaftsname'] = 'Strasse'
df_wien['Ortschaftsname'] = 'Strasse'
df_noe['Ortschaftsname'] = 'Strasse'
df_ooe['Ortschaftsname'] = 'Strasse'
df_stmk['Ortschaftsname'] = 'Strasse'
df_ktn['Ortschaftsname'] = 'Strasse'
df_tir['Ortschaftsname'] = 'Strasse'
df_vbg['Ortschaftsname'] = 'Strasse'
df_sbg['Ortschaftsname'] = 'Strasse'

In [5]:
df_bgld.describe()

       Ortschaftsname Straßenname
count            7858        7856
unique              1        4458
top           Strasse   Feldgasse
freq             7858          94

## doppelte Einträge entfernen

In [9]:
df_bgld_small = df_bgld.drop_duplicates()
df_wien_small = df_wien.drop_duplicates()
df_noe_small = df_noe.drop_duplicates()
df_ooe_small = df_ooe.drop_duplicates()
df_stmk_small = df_stmk.drop_duplicates()
df_ktn_small = df_ktn.drop_duplicates()
df_tir_small = df_tir.drop_duplicates()
df_sbg_small = df_sbg.drop_duplicates()
df_vbg_small = df_vbg.drop_duplicates()

## zu einem Dataframe mergen

In [10]:
df_strassen1 = df_bgld_small.merge(df_wien_small, how='outer', left_index=False, right_index=False)
df_strassen2 = df_strassen1.merge(df_noe_small, how='outer', left_index=False, right_index=False)
df_strassen3 = df_strassen2.merge(df_ooe_small, how='outer', left_index=False, right_index=False)
df_strassen3.describe()

       Ortschaftsname           Straßenname
count           47413                 47412
unique              1                 47412
top           Strasse  Gartenweg (Einsiedl)
freq            47413                     1

In [11]:
df_strassen4 = df_strassen3.merge(df_stmk_small, how='outer', left_index=False, right_index=False)
df_strassen5 = df_strassen4.merge(df_ktn_small, how='outer', left_index=False, right_index=False)
df_strassen6 = df_strassen5.merge(df_tir_small, how='outer', left_index=False, right_index=False)
df_strassen7 = df_strassen6.merge(df_vbg_small, how='outer', left_index=False, right_index=False)
df_strassen8 = df_strassen7.merge(df_sbg_small, how='outer', left_index=False, right_index=False)

In [12]:
df_strassen8.describe()

       Ortschaftsname Straßenname
count           75123       75122
unique              1       75122
top           Strasse      Zitoll
freq            75123           1

## Dataframe in CSV exportieren

In [14]:
df_strassen8.to_csv('Strassen.csv', index=False, header=None, sep = ',')